Repository spyfly/preiswecker: changes, and which Bitbucket steps are due for each by the changed paths.
All: crawler - Build, rest-api - Build, scheduler - Build, frontend - Build

crawler - Build:
  script:
  - apt update && apt install zstd -y
  - IMAGE_NAME=crawler
  - docker-compose build ${IMAGE_NAME}
  - docker save ${IMAGE_NAME} | zstd > "${IMAGE_NAME}.tar.zst"
  services:
  - docker
  caches:
  - docker
  artifacts:
    download: false
    paths:
    - '*.tar.zst'

rest-api - Build:
  script:
  - apt update && apt install zstd -y
  - IMAGE_NAME=rest-api
  - docker-compose build ${IMAGE_NAME}
  - docker save ${IMAGE_NAME} | zstd > "${IMAGE_NAME}.tar.zst"
  services:
  - docker
  caches:
  - docker
  artifacts:
    download: false
    paths:
    - '*.tar.zst'

scheduler - Build:
  script:
  - apt update && apt install zstd -y
  - IMAGE_NAME=scheduler
  - docker-compose build ${IMAGE_NAME}
  - docker save ${IMAGE_NAME} | zstd > "${IMAGE_NAME}.tar.zst"
  services:
  - docker
  caches:
  - docker
  artifacts:
    download: false
    paths:
    - '*.tar.zst'

frontend - Build:
  script:
  - apt update && apt install zstd -y
  - IMAGE_NAME=frontend
  - docker-compose build ${IMAGE_NAME}
  - docker save ${IMAGE_NAME} | zstd > "${IMAGE_NAME}.tar.zst"
  services:
  - docker
  caches:
  - docker
  artifacts:
    download: false
    paths:
    - '*.tar.zst'

logincheck
  frontend/src/App.vue
Due: frontend - Build

+tampermonkey btn
  frontend/src/components/Header.vue
Due: frontend - Build

fix
  frontend/src/store/user.js
  frontend/src/views/Profile.vue
Due: frontend - Build

fix
  frontend/Dockerfile
Due: frontend - Build

README.md edited online with Bitbucket
  _docs/README.md
Due: none

Updated docs
  README.md
  _docs/client-anleitung.md
  browser-extension/README.md
  crawler/README.md
Due: crawler - Build

Deleted duplicate file
  _docs/images/vorgehensweise.md
Due: none

Added Links to Docs
  README.md
  _docs/README.md
Due: none

README.md edited online with Bitbucket
  scheduler/README.md
Due: scheduler - Build

rm console logs
  frontend/src/components/Header.vue
  frontend/src/components/NewAlarm.vue
  frontend/src/router/index.js
  frontend/src/store/auth.js
  frontend/src/store/store.js
  frontend/src/store/user.js
Due: frontend - Build

Browser Extension Btn immer zeigen
  frontend/src/components/Header.vue
Due: frontend - Build

client screenshots
  _docs/client-anleitung.md
  _docs/images/client1.png
  _docs/images/client2.png
Due: none

Add deploy.yml
  .github/workflows/deploy.yml
Due: none

Update deploy.yml
  .github/workflows/deploy.yml
Due: none

Remove specific file reference from CI/CD Pipeline
  .github/workflows/deploy.yml
Due: none

Update broken frontend package-lock.json
  frontend/package-lock.json
Due: frontend - Build

Copy .env.example to .env
  .github/workflows/deploy.yml
Due: none

Let's check once a minute
  scheduler/index.js
Due: scheduler - Build

Path conditions:
  crawler - Build: any of: crawler/**
  rest-api - Build: any of: rest-api/**
  scheduler - Build: any of: scheduler/**
  frontend - Build: any of: frontend/**
